.nav-pills{
	background-color:rgb(255, 254, 253);
}
.nav-pills .nav-link.active{
	background-color: orange;
	color: black;
	font-size: 15px;
	font-weight: bold;
}
.nav-link{
	color:rgb(255, 110, 20);
	font-weight: bold;
}
.carousel-item img{
	width: 800px;
	height: 800px;
	object-fit: cover;
}
